<?xml version="1.0" encoding="utf-8"?>
<config>
	<!--服务名-->
	<servername>weddingRedPacket</servername>
	<mysql>
		<dbname>cbsTest</dbname>
		<host>sh-cdb-c7gk8cwq.sql.tencentcdb.com:63769</host>
		<user>root</user>
		<pass>tkC42cwy2U3SQwHw</pass>
		<debug>dev</debug>
		<!--
			wedding_card
			172.17.0.5
			root
			tkC42cwy2U3SQwHw
			prod
		-->
	</mysql>
	<redis>172.17.16.10:6379</redis>
        <redispassword>RCaX238DdkddYSV8</redispassword>
	<!--微信请求地址-->
	<wxuserinfourl>http://172.17.16.3:5607/api/response.do</wxuserinfourl>
	<wxuserlisturl>http://172.17.16.3:5607/api/response.do</wxuserlisturl>

	<!--广播地址-->
	<roomsvrurl>http://172.17.0.13:6566/rpc</roomsvrurl>

	<!--微信支付相关信息-->
	<appid>wx1e16505b46f55fc3</appid>
	<mchid>1456793102</mchid>
	<key>Ej1OlMdS54J8AfsZcmZGfYufNqYPSXuH</key>
	<spbillcreateip>172.17.0.13</spbillcreateip>
	<!--微信支付回调地址-->
	<notifyurl>http://182.254.247.115:5501/wechat_callback</notifyurl>
	<!--end-->
</config>


